<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<f:loadBundle basename="resources.application" var="msg" />

<head>
<title><h:outputText value="Login" /></title>
</head>

<body>
	<h:form>
		<h:outputText value="Usuário : " />
		<h:inputText id="name" label="Nome" value="#{usuarioBean.nome}">
		</h:inputText>
		<br></br>
		<h:outputText value="Senha : " />
		<h:inputText id="senha" label="Senha" value="#{usuarioBean.senha}">
		</h:inputText>
		<br></br>

		<h:commandButton id="commandLogar" value="Logar" action="logar"></h:commandButton>
		<br></br>
		<h:commandButton id="commandAjuda" value="Ajuda" action="ajuda"></h:commandButton>
		<br></br>
		<h:commandButton id="commandPerdi" value="Perdi a senha e agora"
			action="perdiAsenha"></h:commandButton>
	</h:form>
</body>
</html>
